# **List**

List are use to store multiple item in single variable. you can store different data type in same list

list1=["Riya",234,(1,2,3),[1,2,"A"],{"R":1,"N":2}]

**Python_indexing**


![indexing_in_python.png]()

In [ ]:
#fatching Element with help of indexing

name=[25,12,36,95,14,55]
print(name[0])
print(name[4])
print(name[-1])
print(name[-5])

25
14
55
12

**Some funtions in list**

Adding element in list

In [ ]:
list23=[1,2,3,4,5,6]
list23.append(7)              # it add element at the end of list
print(list23)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list33=[11,12,14,15]
list33.insert(2,13)          # add element according to index
print(list33)

[11, 12, 13, 14, 15]

In [ ]:
list34=[22,23,45,11]
list34.extend([36,12,90])    #we can merge two list
print(list34)

[22, 23, 45, 11, 36, 12, 90]

Removing element from list

In [ ]:
list19=[1,2,3,4,5,6,7]
list19.remove(4)
print(list19)

[1, 2, 3, 5, 6, 7]

In [ ]:
list10=[1,8,90,23,11]
list10.pop()            #remove element from last index
list10.pop(2)           #remove element from index 2

90

In [ ]:
lst=["R","S","T","P","A"]
lst.clear()              #its clear all element from list
lst

[]

some extra funtions

In [ ]:
lst1=[12,13,16,14,15,16,16,17]
print(lst1.index(13))         # Return index of element
print(lst1.count(16))         #return count of the element

1
3
None

In [ ]:
lst2=[1,2,3,4]
lst2.reverse()
print(lst2)

lst2.sort()
print(lst2)

print(min(lst2))           #It gives minimum of list
print(max(lst2))           #It give maximum of list
print(sum(lst2))           #it give sum of list

[4, 3, 2, 1]
[1, 2, 3, 4]
1
4
10

**Slicing in list**

List[start:stop:step]

In [ ]:
list123=[1,2,3,4,5,6,7,8,9,0]
print(list123[0:4])             #here 4th index is always excluded

print(list123[1:])

print(list123[:5])

print(list123[-10:-5])     #negative indaxing

print(list123[1:5:2])

print(list123[::-1])        #it reverse the list

[1, 2, 3, 4]
[2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 4]
[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

How to merge two list

In [ ]:
#Ist type
lst12=[1,2,3,4]
lst13=[5,6,7,8]
lst14=lst12+lst13
print(lst14)

#2nd type
lst12.extend(lst13)
print(lst12)

#3rd type
lst14=[1,2,3,4]
lst15=[5,6,7,8]
for i in range(len(lst15)):
  lst14.append(lst15[i])
print(lst14)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

List with String

In [ ]:
#String to list
xyz="Hiii Everyone i hope today is a good day for you"
Z=xyz.split()
print(type(Z))
print(Z)

<class 'list'>
['Hiii', 'Everyone', 'i', 'hope', 'today', 'is', 'a', 'good', 'day', 'for', 'you']

In [ ]:
#list to string
str1="".join(Z)
print(str1)

HiiiEveryoneihopetodayisagooddayforyou

**List Comprehension**

Q:-Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

In [ ]:
#without list comprehension
list1=["Banana","apple","Mango","Kivi"]
list2=[]
for i in range(len(list1)):
  if "a" in list1[i]:
    list2.append(list1[i])
print(list2)

['Banana', 'apple', 'Mango']

In [ ]:
#with list comprehension
list3=[x for x in list1  if "a" in x]
print(list3)

['Banana', 'apple', 'Mango']

# **Some coding problem in Python list**

Q:-Python program to find second largest number in a list

In [1]:
list1=[1,2,8,99,100,6,9,45]
lst=list1.copy()
xyz=max(list1)
lst.remove(xyz)
abc=max(lst)
print("second maximum number is:-",abc)

second maximum number is:- 99

Q:-Python program to count Even and Odd numbers in a List

In [2]:
list12=[22,23,43,56,49,99,98]
odd_count=0
even_count=0
for x in list12:
  if x%2==0:
    even_count+=1
  else:
    odd_count+=1
print("No of even numbers in list",even_count)
print("No of odd numbers in list",odd_count)

No of even numbers in list 3
No of odd numbers in list 4

Q:-Python program to check if the list contains three consecutive common numbers

In [6]:
list23=[11,11,22,2,2,3,3,3,2]
list_count=[]
count=1
xyz=list23[0]
for i in range(1,len(list23)):
  abc=list23[i]
  if abc==xyz:
    count+=1
  else:
    list_count.append(count)
    count=1
    xyz=list23[i]
if max(list_count)>=3:
  print("Yes")
else:
  print("NO")
print(list_count)

Yes
[2, 1, 2, 3]

Q:-Swap elements in String list
ex:-list1=["lti","SRS","moto","cat"]

optput=list1=["itl","SRS","otom","tac"]

In [13]:
ls1=["lti","SRS","moto","cat"]
re_ls1=[]
for i in range(len(ls1)):
  re_ls1.append(ls1[i][::-1])

print(re_ls1)

['itl', 'SRS', 'otom', 'tac']